[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
metemcyber = {editable = true, extras = ["cli"], path = "."}
requests = "==2.25.1"

[dev-packages]
autopep8 = "*"
isort = "*"
mypy = "*"
mypy-extensions = "*"
pylint = "*"
sphinx = "*"
sphinx-autobuild = "*"
types-PyYAML = "*"
types-requests = "*"

[requires]
python_version = "3.8"
