{
    "dumper": {
        "endpoint": "https://rpc.metemcyber.ntt.com",
        "db_filepath_raw": "tx_shelf.raw.db",
        "start_block": 0,
        "print_blocknum": true,
        "exit_on_head": true},
    "decoder": {
        "db_filepath_raw": "tx_shelf.raw.db",
        "db_filepath_decoded": "tx_shelf.db",
        "start_block": 0,
        "exit_on_head": true,
        "print_blocknum": true,
        "print_decoded": true},
    "metadata_manager": {
        "db_filepath_decoded": "tx_shelf.db",
        "db_filepath_meta": "tx_shelf.meta.db",
        "start_block": 0,
        "exit_on_head": true,
        "print_blocknum": true},
    "counter": {
        "db_filepath_decoded": "tx_shelf.db",
        "db_filepath_meta": "tx_shelf.meta.db"},
    "slack_notifier": {
        "webhook": "Your IncommingWebhook URL. ex) https://hooks.slack.com/services/T01FJ...",
        "channel": "Channel name to post. ex) #dev",
        "appname": "Metembot"},
    "queries": [
        {
            "class": "Waixu",
            "options": {
                "waixu_filter": {
                    "include_catalogs": [
                         "0xBcb4b84cdaB65C6e6Efe1697CC41a46D0AEaCA61",
                         "0x168DD95472cEaF5c28447C8b07A593e205E92A12"]
                },
                "days": 7,
                "hours": 0}},
        {
            "class": "Simple",
            "disable": 1,
            "options": {
                "days": 7,
                "reverted": "yes"}}
    ]
}
