{{ date }} AVアラート
===

## サマリー
- マルウェア種別: {{ malware_family }}
- 調査ログ
    - windowsログ
    - ネットワークログ
- 感染有無
{% if infection %}
    - 感染を示す証跡が発見されています。

{{ network_iocs }}

{{ endpoint_iocs }}

{% else %}
    - 感染を示す証跡は発見されませんでした。
{% endif %}

## タイムライン
- {{ date }}  アラートが発生

## 本インシデントの影響


## 推奨事項


## 現在実施中の内容

